

<div class="sketchy">

    <h1>Superhero Creator</h1>
    <img src="images/Groot_lying.jpg" alt="Sample Photo" />
    <p><a href="~/Superhero/Index" class="btn btn-primary btn-lg">Enter &raquo;</a></p>
</div>


